<div class="home__header container-fluid p-3 text-white">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap" />
      </svg>
    </a>

    <div class="d-flex ms-auto">
      <button
        type="button"
        class="btn btn-outline-light me-4"
        routerLink="./sign-in"
      >
        Sign In
      </button>
      <button
        type="button"
        class="btn home__header__signUp-btn me-3"
        routerLink="./sign-up"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
