<header>
  <app-header></app-header>
</header>
<main>
  <div class="jumbotron px-5 mt-3">
    <h1 class="display-4">Kanban Board</h1>
    <p class="lead">
      Visualize your workflow and increase productivity with Kanban Board.
    </p>
    <hr class="my-4" />
  </div>

  <!-- Features Section -->
  <div class="px-5 my-5">
    <div class="row">
      <div class="col-md-4">
        <h2>Easy to Use</h2>
        <p>
          Our intuitive interface and drag-and-drop functionality make it easy
          to manage your tasks and organize your workflow.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Real-Time Collaboration</h2>
        <p>
          Collaborate with your team in real time, assign tasks, and track
          progress to ensure that everyone stays on the same page.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Customizable</h2>
        <p>
          Customize your Kanban board to suit your needs, add custom fields, and
          create your own workflows to improve your productivity.
        </p>
      </div>
    </div>
    <div
      class="row d-flex justify-content-around align-items-center mt-4 gap-3"
    >
      <div class="col-10 col-lg-5">
        <img
          src="../../../assets/img/home/home-1.png"
          style="width: 100%; max-height: 350px"
          alt=""
        />
      </div>
      <div class="col-10 col-lg-5">
        <img
          src="../../../assets/img/home/home-2.png"
          style="width: 100%; max-height: 350px"
          alt=""
        />
      </div>
    </div>
  </div>
</main>
