.card-body .card-text {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header span[data-status="High Priority"] {
  background-color: #e97777;
}

.card-header span[data-status="Med Priority"] {
  background-color: #b6e2a1;
}

.card-header span[data-status="Low Priority"] {
  background-color: #98a8f8;
}
